--no-private
--protected
--markup=markdown
--markup-provider=redcarpet
--readme=README.md
--title=LogStruct API Documentation
--output-dir=docs/public/api
--plugin sorbet
'lib/**/*.rb'
- README.md
- DEVELOPMENT.md
